<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fatcats.top.dao.GoodsDao">


    <!--

    //查询所有商品
    public List<Goods> findAllGoods();
    //根据ID查询商品
    public Goods findGoodsByID(@Param("id") Integer id);
    //新增商品
    public void addGoods(Goods goods);
    //删除商品
    public void delGoodsByID(@Param("id") Integer id);
    //修改商品
    public void editGoods(Goods goods);


    -->
    <select id="findAllGoods" resultType="Goods">

SELECT
      goods_id ,
      goods_price ,
      goods_name ,
      goods_star ,
      goods_company ,
      goods_catagory ,
      goods_car
FROM
tb_gds

</select>


<select id="findGoodsByID" resultType="Goods">

SELECT
goods_id , goods_price , goods_name , goods_star , goods_company , goods_catagory , goods_car
FROM
tb_gds
WHERE
goods_id = #{id}

</select>

<insert id="addGoods">


INSERT INTO
tb_gds
VALUES
(DEFAULT,#{goods_price},#{goods_name},#{goods_star},#{goods_company},#{goods_catagory},#{goods_car})


</insert>


<delete id="delGoodsByID">


   DELETE FROM tb_gds WHERE goods_id = #{id}

</delete>

<update id="editGoods">

UPDATE
tb_gds
SET
goods_price = #{goods_price},
goods_name = #{goods_name},
goods_star = #{goods_star},
goods_company = #{goods_company},
goods_catagory = #{goods_catagory},
goods_car = #{goods_car}
WHERE
goods_id = #{goods_id}

</update>


</mapper>
