<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fatcats.top.dao.OrderDao">


    <!--

        public List<OrderGoods> findAllOrder();
    //查找状态0
    public List<OrderGoods> findS0();
    //查找状态1
    public List<OrderGoods> findS1();
    //修改状态
    public void uptOrder(@Param("id") Integer id);

    -->

    <select id="findAllOrder" resultType="OrderGoods">

         SELECT or_id , or_tm , or_uuid , or_pany , or_money , or_method , or_status FROM tb_order

    </select>

    <select id="findS0" resultType="OrderGoods">

         SELECT or_id , or_tm , or_uuid , or_pany , or_money , or_method , or_status FROM tb_order WHERE or_status = 0
    </select>

    <select id="findS1" resultType="OrderGoods">

         SELECT or_id , or_tm , or_uuid , or_pany , or_money , or_method , or_status FROM tb_order WHERE or_status = 1
    </select>

    <update id="uptOrder">

        UPDATE tb_order SET
           or_status = 0
        WHERE
      or_id = #{id}
    </update>

</mapper>