<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fatcats.top.dao.RepoGoodsDao">


    <!--

    //根据商品ID查询库存数量
    public RepoGoods findRGoodsByID(@Param("id") Integer id);
//查询所有
    public Integer findGoodsAll();
    -->


<select id="findRGoodsByID" resultType="RepoGoods">

    SELECT repo_id , repo_num
    FROM
    tb_repo
    WHERE
    repo_id = #{id}

</select>


<select id="findGoodsAll" resultType="Integer">


SELECT SUM(repo_num) FROM tb_repo

</select>

</mapper>